html, body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.titulo{
    display: flex;
    width: 100%;
}
.tituloJuan{
    position: absolute;
    font-size: 40px;
    margin: auto;
    right: 50%;
    animation: ease;
    animation-name: slideinTitle;
    animation-duration: 3s;
}

.cabecera{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cubo-P{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: aqua;
    animation: ease-in-out;
    animation-name: slidein;
    animation-duration: 3s;
    justify-content: center;
    font-size: 40px;
    align-items: flex-start;
    
}

.cubo1{transition: width 2s, height 2s, background-color 2s,transform 5s, opacity 6s; }
.cubo2{transition: width 2s, height 2s, background-color 2s,transform 5s,}



.cubo1:hover{
    background-color: burlywood;
    width: 280px;
    height: 280px;
    transform: scale(0.5);
    align-items: center;
    opacity: 0;
}

.cubo2{
    animation-name:;
    background-color: chartreuse;
}

.cubo2:hover{
    background-color: burlywood;
    width: 280px;
    height: 280px;
    transform: scale(1);
    align-items: center;
}

.michi{
    display: flex;
    width: 50%;
    height: auto;
    animation: ease-in-out;
    animation-name: "";
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transition: transform 3s;
}

.michi:hover{
    transform:rotate(360deg) ;
}

.cubo3{
animation-iteration-count: infinite;
animation-name: temblar;
animation-duration: 3s;
}





/* animacion */
@keyframes slidein {
    from {
    margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}
@keyframes slideinTitle {
    from {
    right: 100%;
    }
    to {
        right:50%;
    }
}

@keyframes slideup {
    from {
        margin-top:100%;
    }
    to {
        margin-top:0%;
    }
}

@keyframes temblar {

    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(20deg);
    }
    75%{
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
